* {
    font-family: Varela Round;
}

body {
    background: #eee;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.btn-warning:active,
.btn-cart:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cur-cart-item {
    font-weight: 500;
}

.popover {
  min-width: 405px;
}

.popover-body {
    height: auto;
    overflow-y: auto;
    white-space:pre-wrap;
} 

.cur-cart input[type=number] {
    min-width: 0;
    display: inline;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    padding-left: 28px;
    padding-right: 10px;
    text-align: left;
}

.trash-alignment {
    text-align: center;
}

#clean {
    min-width: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;
}

.x-button {
    min-width: 0;
    width: 30px;
    display: inline;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
}

#checkout {
    min-width: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;
}

/*
to center a div: 
By setting its parant with text-align: center
and setting itself with margin-left: auto and margin-right: auto
*/
/*
.row {
    text-align: center;
}
*/
.img-card {
    min-height: 350px;
}


.col-md-4, .col-md-8 {
    /*
    margin-left: auto;
    margin-right: auto;
    */
    margin-top: 40px;
}

.card-text {
    font-weight: 500;
}
.card-title {
    font-weight: 900;
}
.card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    min-height: 350px;
}
